*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

 /* shared style  */

    .display-flex{
        display: flex;
    }

    /* dark 02 */
    .text-gray{
        color: #424242;
    }

    .text-primary{
        color: #FF900E;
    }

    /* dark 03 */
    .text-greylight{
        color: #727272;
        line-height: 26px;
        margin-top: 24px;
    }

    .bg-light{
        background-color: rgba(255, 144, 14, 0.1);
    }

    .btn-primary{
        font-size: 1.25rem;
        font-weight: 600;
        color: white;
        background-color: #FF900E;
        padding: 20px 25px;
        border: none;
        border-radius: 8px;
        margin-top: 32px;
    }

 /* header styles */

 /* navber related styles */

 .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
 }
.navbar{
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.brand{
    font-size: 3rem;
}

.nav-links{
    gap: 30px;
}

.nav-item{
    list-style: none;
}

.link-icon{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/* banner related styles */
.banner-container{
    max-width: 886px;
    margin: 102px auto 33px auto;
    text-align: center;
}

.banner-heading{
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    font-size: 1.12rem;
}

.banner-img{
    width: 100%;
    margin-bottom: 45px;
}


/* main section styles */

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-feature{
    margin-left: 73px;
    max-width: 537px;
}

.section-title{
    font-weight: 700;
    font-size: 3rem;

}

#first{
    font-weight: 500;
}

/* some facts card styles */
.fact-description{
    width: 542px;
}


.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 100px 50px 180px 50px;
}
.fact-card{
    border: 1px solid #FF900E;
    height: 240px;
    width: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 10px 0 5px 0;
    color: #424242;
}

.fact-paragraph{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
}












@media screen and (max-width:576px){
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }

    .teams{

    }

    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-feature{
        max-width: 400px;
        text-align: center;
        margin: 40px auto;
    }

}




/* mediam device quary */
@media screen and (min-width:576px) and (max-width:992px){
    .teams{
        flex-direction: column;
    }
    .our-feature{
        margin: 40px auto;
    }
}